:root {
  --primary-text-color: #757575;
  --additional-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #2f303a;
  --primary-white-color: #ffffff;
  --additional-bg-color: #f5f4fa;
}

html {
  box-sizing: border-box;
  background-color: #e5e5e5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Утилитарный класс для списка */
.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Утилитарный класс для сокрытия элемента */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Утилитарный класс для <img> */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Header for all pages
====================== */
.site-menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;

  color: var(--additional-text-color);
}

.logo span {
  color: var(--accent-color);
}

.nav-menu {
  display: flex;
  margin-left: 93px;
}

.nav-menu .item:not(:last-child) {
  margin-right: 50px;
}

.link {
  text-decoration: none;
}

.nav-menu .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--additional-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu .link:hover,
.nav-menu .link:focus {
  color: var(--accent-color);
}

.link.current {
  position: relative;
  color: var(--accent-color);
}

.link.current::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.contact-menu {
  display: flex;
  margin-left: auto;
}

.contact-menu .item:not(:last-child) {
  margin-right: 50px;
}

.contact-menu .link {
  display: inline-flex;
  align-self: baseline;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-menu .link:hover,
.contact-menu .link:focus {
  color: var(--accent-color);
}

.contact-menu .icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-menu .link:hover .icon,
.contact-menu .link:focus .icon {
  fill: var(--accent-color);
}

/* STUDIA - MAIN PAGE
======================*/
.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  border-top: 1px solid #ececec;

  text-align: center;

  background-color: var(--primary-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../img/hero-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button {
  padding-left: 32px;
  padding-right: 32px;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;

  margin: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--primary-white-color);
}

.close-btn .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .icon,
.close-btn:focus .icon {
  fill: var(--accent-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;

  color: var(--additional-text-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-bottom: 10px;
}

.form-label {
  align-self: flex-start;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
}

.input-box {
  position: relative;
}

.input-box input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 0 0 42px;

  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box:focus-within input {
  border: 1px solid var(--accent-color);
}

.input-box .icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  fill: var(--additional-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box:focus-within .icon {
  fill: var(--accent-color);
}

.feedback-field {
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus-within {
  border: 1px solid var(--accent-color);
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-field {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

.checkbox-label:before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--additional-text-color);
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .checkbox-label:before {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url('../img/check.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.modal-button {
  padding-left: 56px;
  padding-right: 55px;
}

/* STUDIA - Features */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--additional-text-color);
}

.features-list {
  display: flex;
}

.features-list .item {
  width: calc((100% - 90px) / 4);
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.icon-box {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;

  text-align: center;

  background-color: var(--additional-bg-color);
}

.icon-box .icon {
  display: block;
  width: 100%;
}

.features-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--additional-text-color);
}

.features-list .text {
  margin-top: 0;
  margin-bottom: 0;
}

/* STUDIA - Product */
.product {
  padding-bottom: 94px;
}

.product .section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.product-list {
  display: flex;
}

.product-list .item:not(:last-child) {
  margin-right: 30px;
}

.item {
  position: relative;
}

.product-description {
  display: block;
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* STUDIA - Team */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--additional-bg-color);
}

.team .section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;

  color: var(--additional-text-color);
}

.rank {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.17;
}

.social-list-light {
  display: flex;
}

.social-list-light > .item:not(:last-child) {
  margin-right: 10px;
}

.social-list-light .link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;

  background-color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-light .link:hover,
.social-list-light .link:focus {
  background-color: var(--accent-color);
}

.social-list-light .icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-light .link:hover .icon,
.social-list-light .link:focus .icon {
  fill: var(--primary-white-color);
}

/* STUDIA - Clients */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.clients-list {
  display: flex;
}

.clients-list > .item:not(:last-child) {
  margin-right: 30px;
}

.clients-list .link {
  display: block;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .link:hover,
.clients-list .link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list .icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .link:hover .icon,
.clients-list .link:focus .icon {
  fill: var(--accent-color);
}

.link-logo-1 {
  padding: 20px 63px;
}

.link-logo-2 {
  padding: 19px 65px;
}

.link-logo-3 {
  padding: 24px 65px;
}

.link-logo-4 {
  padding: 24px 45px;
}

.link-logo-5 {
  padding: 22px 55px 21px 56px;
}

.link-logo-6 {
  padding: 22px 41px;
}

/* PORTFOLIO
=============*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: inherit;

  color: var(--additional-text-color);
  background-color: var(--additional-bg-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list .card {
  width: calc((100% - 60px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .card:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.portfolio-list .card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-list .card:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .link {
  display: block;
  text-decoration: none;
}

.portfolio-list .link:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-thumb {
  position: relative;
}

.card-thumb::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.card-description {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  color: var(--primary-white-color);

  opacity: 0;
}

.card .link:hover .card-thumb::before,
.card .link:focus .card-thumb::before {
  opacity: 1;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card .link:hover .card-description,
.card .link:focus .card-description {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-list .title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--additional-text-color);
}

.portfolio-list .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.875;

  color: var(--primary-text-color);
}

/*Footer for all pages
====================== */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primary-bg-color);
}

.footer-inner {
  display: flex;
  align-items: baseline;
}

.address-box {
  margin-right: 70px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo .logo-accent {
  color: var(--primary-white-color);
}

.address-list {
  font-style: normal;
}

.address-list .link {
  display: inline-block;
}

.address-list .link:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: var(--primary-white-color);
}

.contact-link {
  color: rgba(255, 255, 255, 0.6);
}

.address-list .link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-title {
  display: block;
  margin-bottom: 20px;

  line-height: 1.17;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.social-list-dark {
  display: flex;
}

.social-list-dark > .item:not(:last-child) {
  margin-right: 10px;
}

.social-list-dark .link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-dark .link:hover,
.social-list-dark .link:focus {
  background-color: var(--accent-color);
}

.social-list-dark .icon {
  fill: var(--primary-white-color);
}

.sign-up-box {
  margin-left: auto;
}

.sign-up-field {
  position: relative;
  margin-right: 12px;
}

.sign-up-field input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: var(--primary-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--primary-bg-color);
}

.sign-up-input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.sign-up-button {
  position: relative;

  padding-left: 29px;
  padding-right: 62px;
}

.button .icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--primary-white-color);
}
